<div id="content">
  <div id="spaceheadertimeline"></div>
  <div id="timelinecontent">
    <div class="row">
        <div id="homedivleft">
            <object style="width: 40%;"  id="left-triangle" data="/img/left_triangle.svg" type="image/svg+xml"></object>
        </div>
        <div id="select-menu-timeline">
            <div id="selectcontenttimeline">
                <div id="timelinetitle">
                    <div id="smalltriangleleft">
                        <object style="width: 25px;" data="/img/triangulopequenoesquerda.svg" type="image/svg+xml"></object>
                    </div>
                    <div id="timelinetitlecenter">
                        <p>TIMELINE</p>
                    </div>
                    <div id="smalltriangleright">
                        <object style="width: 25px;" data="/img/triangulopequenodireita.svg" type="image/svg+xml"></object>
                    </div>
                </div>
                <div id="timelineselection">
                    <ul>
                        <li style="cursor: pointer;">SINCE THE DAWN OF PUSH</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div id="reellist">
    <div class="row">
        <p id="titleSixNews">KNOW OUR HISTORY</p>
        <div id="divleftreel">
            <p></p>
        </div>
        <div id="timelinedivlist">
            <div class="col-md-4" style="padding:0;" ng-repeat="new in lastNews.data" ng-style="($index >= 3 || $index <= 5) && {'margin-top':'30px'} || {'margin-top':'0px'} ">
                <a style="text-decoration: none;" ng-click="saveId(new._id)" href="/news">
                    <div id="teammemberphoto" ng-style="{'background':'url({{new.thumbnail}}) no-repeat center center'}">
                    </div>
                    <p id="newname">{{ new.title }}</p>
                    <p id="newdescription">{{ new.synopsis }}</p>
                </a>
            </div>
        </div>
        <div id="homedivright">
            <object style="width: 40%;"  width="90%" id="left-triangle" data="/img/right_triangle.svg" type="image/svg+xml"></object>
        </div>
        <div id="homedivleft" style="clear:both">
            <object style="width: 40%;" id="left-triangle" data="/img/left_triangle.svg" type="image/svg+xml"></object>
        </div>
        <p id="bartitle" >STAY UP TO DATE WITH PUSH</p>
        <div id="timeLines">
            
        </div>
        <div id="infoNews">
            <div class="col-md-12" style="padding:0; margin-bottom: 70px;" ng-repeat="new in newsByDate.data">
                <a style="text-decoration: none;" ng-click="saveId(new._id)" href="/news">
                    <div class="col-md-4">
                        <div id="newsphoto" ng-style="{'background':'url({{new.thumbnail}}) no-repeat center center'}">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="textonews">
                            <p id="newdatename">{{ new.title }}</p>
                            <p id="newdatedescription">{{ new.synopsis }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="timelinedivright">
            <object style="width: 40%;" width="90%" id="left-triangle" data="/img/right_triangle.svg" type="image/svg+xml"></object>
        </div>
    </div>
  </div>
</div>