<div id="content">
  <div id="spaceheadertimeline"></div>
  <div id="timelinecontent">
    <div class="row">
        <div id="homedivleft">
            <img src="/img/left_triangle.png" width="40%" />
        </div>
        <div id="select-menu-timeline">
            <div id="selectcontenttimeline">
                <div id="timelinetitle">
                    <div id="smalltriangleleft">
                        <img src="/img/triangulopequenoesquerda.png" width="25px" />
                    </div>
                    <div id="timelinetitlecenter">
                        <p>TIMELINE</p>
                    </div>
                    <div id="smalltriangleright">
                        <img src="/img/triangulopequenodireita.png" width="25px" />
                    </div>
                </div>
                <div id="timelineselection" style="width: 50%; margin: auto; text-align: center;">
                    <p style="cursor: pointer;">SINCE THE DAWN OF PUSH</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div id="reellist">
    <div class="row">
        <p id="titleSixNews">KNOW OUR HISTORY</p>
        <div id="divleftreel">
            <p></p>
        </div>
        <div id="timelinedivlist">
            <div class="col-md-4" style="padding:0;" ng-repeat="new in lastNews.data" ng-style="($index >= 3 || $index <= 5) && {'margin-top':'30px'} || {'margin-top':'0px'} ">
                <a style="text-decoration: none;" href="/news/{{new._id}}">
                    <div id="teammemberphoto">
                        <img id="image" ng-src="{{new.thumbnail}}">
                    </div>
                    <p id="newname">{{ new.title }}</p>
                    <p id="newdate">{{ new.dateOfEvent | date : shortDate }}</p>
                    <p id="newdescription">{{ new.synopsis }}</p>
                </a>
            </div>
        </div>
        <div id="homedivright">
            <img src="/img/right_triangle.png" width="40%" />
        </div>
        <div id="homedivleft" style="clear:both">
            <img src="/img/left_triangle.png" width="40%" />
        </div>
        <p id="bartitle" >STAY UP TO DATE WITH PUSH</p>
        <div id="timeLines">

        </div>
        <div id="infoNews">
            <div class="col-md-12" style="padding:0; margin-bottom: 70px;" ng-repeat="new in newsByDate.data">
                <a style="text-decoration: none;" href="/news/{{new._id}}">
                    <div class="col-md-4">
                        <div id="newsphoto">
                            <img id="image" ng-src="{{new.thumbnail}}">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="textonews">
                            <p id="newdatename">{{ new.title }}</p>
                            <p id="newdate">{{ new.dateOfEvent | date : shortDate }}</p>
                            <p id="newdatedescription">{{ new.synopsis }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="timelinedivright">
            <img src="/img/right_triangle.png" width="40%" />
        </div>
    </div>
  </div>
</div>
