<div id="content">
  <div id="spaceheaderteam"></div>
  <div id="teamcontent">
    <div class="row">
      <div id="homedivleft">
        <object style="width: 40%;" id="left-triangle" data="/img/left_triangle.svg" type="image/svg+xml"></object>
      </div>
      <div id="teamdivtop">
        <p>ON THE IMPORTANCE OF A BALANCED TEAM</p>
        <div id="teamtext">
            <p>At PUSH, we believe that people are the main and most important element for producing high quality work, which in itself leads to the development of a successful business. Because we are a company whose foundations are the people, we solemnly believe that talent, creativity and effort are the basis of a solid team. It is this kind of team that we believe to have gathered at PUSH, a multi-disciplinary group of highly skilled, talented and creative people, who love working together, and mutually inspire each other into exploring the limits of their own capabilities.</p>
            <p>At PUSH, we recognize the value of hard work, as much as we recognize the value of laid-back fun, and we strive daily to meet this delicate equilibrium between both, ending up with something – which in our view, is invaluable and could not exist otherwise -, a great team spirit and a relaxed and creative workspace.</p>
        </div>
      </div>
      <div id="homedivright">
          <p></p>
      </div>
    </div>
  </div>
  <div id="teamlist">
    <div class="row">
        <div id="divleft">
            <p></p>
        </div>
        <div id="teamdivlist">
            <div id="titlelist">
                <p>THIS IS OUR TEAM</p>
            </div>
            <div id="list">
                <div id="listalign">
                  <div class="col-md-4" style="padding:0;" ng-repeat="member in teammembers.data" ng-style="($index >= 3 || $index <= 5) && {'margin-top':'30px'} || {'margin-top':'0px'} ">
                      <div id="teammemberphoto">
                        <img src="{{member.profilePic}}" style="max-width: 100%; display:block; height: auto;">
                      </div>
                      <p id="membername">{{ member.name }}</p>
                      <p id="memberdescription">{{ member.description }}</p>
                  </div>
                </div>
            </div>
        </div>
        <div id="homedivright">
            <object style="width: 40%;" id="left-triangle" data="/img/right_triangle.svg" type="image/svg+xml"></object>
        </div>
    </div>
  </div>
  <div id="bottomcontent">
    <div class="row">
      <div id="homebottomdivcenter">
        <object id="left-triangle-bottom-div" data="/img/left_triangle.svg" type="image/svg+xml"></object>
        <p id="instatitle">CHECK OUR DAILY LIFE AT INSTAGRAM!</p>
        <div id="instainfo">
          <img src="/img/insta.png">
          <p>&nbsp;&nbsp;@PUSH.IG</P>
        </div>
        <div id="insta" >
            <div class="col-md-3" style=" padding: 0;" ng-repeat="photos in instaphotos.data">
              <a href="{{ photos.link }}" target="_blank">
                <div id="photoinsta" style="background: black url('{{ photos.images.low_resolution.url }}') no-repeat center center;">
                  <p></p>
                </div>
              </a>
            </div>
        </div>
        <object id="right-triangle-bottom-div" data="/img/right_triangle.svg" type="image/svg+xml"></object>
      </div>
    </div>
  </div>
</div>
