<div id="content">
  <div id="spaceheaderteam"></div>
  <div id="teamcontent">
    <div class="row">
      <div id="homedivleft">
        <object style="width: 40%;" id="left-triangle" data="/img/left_triangle.svg" type="image/svg+xml"></object>
      </div>
      <div id="teamdivtop">
        <p>PUSH</p>
        <div id="teamtext">
            <p>Phasellus ullamcorper, sapien eu malesuada aliquet, neque nisl sollicitudin tellus, vel placerat lorem elit at quam. Cras placerat, nibh eget laoreet iaculis, est metus venenatis neque, non vehicula nunc sem in neque. Etiam volutpat mollis nisl nec venenatis. Etiam tempor facilisis sollicitudin. Maecenas faucibus velit accumsan velit facilisis molestie. Aliquam eu ultricies felis. In convallis efficitur enim, sit amet sagittis metus pharetra et.</p>
            <p>Mauris orci dui, varius non tempor sed, ornare ac tellus. Etiam sed posuere mauris. Sed ac tellus at purus hendrerit elementum non vitae enim. Aenean odio magna, finibus eu ornare eu, fermentum sed nibh. Nulla facilisi. Integer tempus ullamcorper ligula sit amet maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec viverra feugiat rhoncus.</p>
        </div>
      </div>
      <div id="homedivright">
          <p></p>
      </div>
    </div>
  </div>
  <div id="teamlist">
    <div class="row">
        <div id="divleft">
            <p></p>
        </div>
        <div id="teamdivlist">
            <div id="titlelist">
                <p>THIS IS OUR TEAM</p>
            </div>
            <div id="list">
                <div id="listalign">
                  <div class="col-md-4" style="padding:0;" ng-repeat="member in teammembers.data" ng-style="($index >= 3 || $index <= 5) && {'margin-top':'30px'} || {'margin-top':'0px'} ">
                      <div id="teammemberphoto">
                        <img src="{{member.profilePic}}" style="max-width: 100%; display:block; height: auto;">
                      </div>
                      <p id="membername">{{ member.name }}</p>
                      <p id="memberdescription">{{ member.description }}</p>
                  </div>
                </div>
            </div>
        </div>
        <div id="homedivright">
            <object style="width: 40%;" id="left-triangle" data="/img/right_triangle.svg" type="image/svg+xml"></object>
        </div>
    </div>
  </div>
  <div id="bottomcontent">
    <div class="row">
      <div id="homebottomdivcenter">
        <object id="left-triangle-bottom-div" data="/img/left_triangle.svg" type="image/svg+xml"></object>
        <p id="instatitle">CHECK OUR DAILY LIFE AT INSTAGRAM!</p>
        <div id="instainfo">
          <img src="/img/insta.png">
          <p>&nbsp;&nbsp;@PUSH.IG</P>
        </div>
        <div id="insta" >
            <div class="col-md-3" style=" padding: 0;" ng-repeat="photos in instaphotos.data">
              <a href="{{ photos.link }}" target="_blank">
                <div id="photoinsta" style="background: black url('{{ photos.images.low_resolution.url }}') no-repeat center center;">
                  <p></p>
                </div>
              </a>
            </div>
        </div>
        <object id="right-triangle-bottom-div" data="/img/right_triangle.svg" type="image/svg+xml"></object>
      </div>
    </div>
  </div>
</div>