<div id="content">
    <div id="spaceheaderproject"></div>
    <div id="projectheadercontent">
        <div id="homedivleft">
            <img src="/img/left_triangle.png" width="40%" />
        </div>
        <div id="stillProjectcontent">
            <div class="col-md-12" style="padding:0;" ng-if="showCaseStill">
                <div ng-if="showCaseVideo != ''">
                    <div id="projectstill" ng-click="showme=true" ng-hide="showme" style="cursor: pointer">
                        <img id="playbtn" src="/img/play-arrow.png">
                        <img id="image" ng-src="{{showCaseStill}}">
                    </div>
                    <anguvideo id="projectVideo" ng-show="showme" ng-model="showCaseVideo" width="100%" height="100%"></anguvideo>
                </div>
                <div ng-if="showCaseVideo == ''">
                    <div id="projectstill" >
                        <img id="image" ng-src="{{showCaseStill}}">
                    </div>
                </div>
            </div>
        </div>
        <p id="projecttitle">{{title}}</p>
        <p id="projectdescription1">{{description1 | json}}</p>
    </div>
    <div id="projectLinks">
        <div class="row">
            <div class="col-md-2 col-xs-6" ng-repeat="link in links">
                <a id="proj-link" href="{{ link.link }}" target="_black">{{ link.description }}</a>
            </div>
        </div>
    </div>
    <div id="projectStills">
        <div class="row" style="margin: -5px;" ng-hide="!twocolumn"  ng-show="twocolumn">
            <div class="col-md-6" ng-repeat="still in projectstills track by $index">
                <div id="twocolumn" >
                    <img id="image" ng-src="{{still}}">
                </div>
            </div>
        </div>
        <div class="row" style="margin: -5px;" ng-hide="!sixcolumn" ng-show="sixcolumn">
            <div class="col-md-4" style="padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom: 5px;" ng-repeat="still in projectstillssix track by $index">
                <div id="twocolumn">
                    <img id="image" ng-src="{{still}}">
                </div>
            </div>
        </div>
    </div>
    <div id="projectCredits">
        <div class="row">
            <div class="col-md-3 col-xs-12" ng-repeat="credit in credits">
                <p id="creditTitle">{{ credit.title }}:</p>
                <p id="creditName">{{ credit.name }}</p>
            </div>
        </div>
    </div>
    <p id="projectdescription2">{{description2 | json}}</p>
    <div id="midStillProjectcontent" ng-show="midPageDiv">
        <div class="col-md-12" style="padding:0;" ng-if="showCaseStill">
            <div ng-if="midPagevideoShow == true">
                <div id="projectstill" ng-click="showme=true" ng-hide="showme" style="cursor: pointer">
                    <img id="playbtn" src="/img/play-arrow.png">
                    <img id="image" ng-src="{{midPageStill}}">
                </div>
                <anguvideo id="projectVideo" ng-show="showme" ng-model="midPageVideo" width="100%" height="100%"></anguvideo>
            </div>
            <div ng-if="midPagevideoShow == false">
               <div id="projectstill">
                   <img id="image" ng-src="{{midPageStill}}">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div id="bottomStillProjectcontent" ng-show="bottomPageDiv"  ng-if="bottomPageStill">
        <div class="col-md-8" style="padding: 0; margin-bottom: 40px;">
            <div id="projectstill">
                <img id="image" ng-src="{{bottomPageStill}}">
            </div>
        </div>
        <div id="bottomprojtext" class="col-md-4" style="padding-right: 0; margin-bottom: 40px;">
            <p id="projectdescription3">{{ bottomPagetext }}</p>
        </div>
    </div>
    <div id="homedivright">
        <img src="/img/right_triangle.png" width="40%" />
    </div>
</div>