@media (max-width : 480px) {
    /*####################### PAGE HEADER #################################*/
    .container-fluid{
        background-color: white;
        margin-top: -5px;
        border-color: transparent;
    }

    .navbar{
        margin-top: -44px;
        border-color: transparent;
    }

    .navbar-default .navbar-collapse{
        border-color: transparent;
    }

    .navbar-collapse ul li{
        padding: 0;
    }

    #logotipo{
        background-color: white;
        width: 160px;
        margin-top: -16px;
    }

    #border-header{
        margin-top: -70px;
    }

    /*####################### PAGE FOOTER #################################*/

    #footerrighttop ul{
        padding: 0;
        width: 162px;
        margin: auto;
    }

    #sociallink{
        padding-right: 10px;
    }

    #footerrightbottom {
        font-size: 9px;
    }

    #mapright ul{
        text-align: center;
    }

    #mapright li{
        font-size: 12px;
    }

    #mapleft ul{
        text-align: center;
    }

    #mapleft li{
        font-size: 12px;
    }

    #footerrightbottom {
        font-size: 9px;
        text-align: center;
    }

    #footerrightbottom p {
        padding-right: 0;
    }

    #footerrightbottom img {
        padding-right: 0;
    }

    /*####################### HOME CONTENT #################################*/

    #latestworkcontent{
        margin-top: 0;
    }

    #homebottomdivcenter{
        height: 200px;
    }

    #uparrow {
        bottom: -3px;
    }

    /*####################### PORTFOLIO CONTENT #################################*/

    #latestprojects p{
        font-size: 11px;
    }

    #portfolioselection ul{
        width: 265px;
    }

    #portfolioselection ul li{
        font-size: 9PX;
    }

    #portfolioselection{
        margin-top: -30px;
    }

    #mainTitle{
        font-size: 76px;
    }


    /*####################### TEAM CONTENT #################################*/

    #instatitle{
        font-size: 17px;
    }

    #instainfo img{
        margin-left:13px;
    }

    #membername{
        text-align: center;
    }

    #teamsocial{
        text-align: center;
    }

    /*####################### REEL CONTENT #################################*/

    #reel{
        height: 49vw;
    }

    #reeltitle{
        width: 211px;
    }

    #reeltitlecenter{
        width: 158px;
        font-size: 21px;
    }

    #reelselection {
        width: 258px;
            clear: both;
    }
    #reelselection ul li {
        font-size: 8px;
    }

    #reeldivlist{
        width: 81%;
        float: none;
        margin-top: 50px;
    }

    #spaceheaderreel{
        height:100px;
    }

    #bartitle{
        font-size: 14px;
    }

    /*####################### TIMELINE CONTENT #################################*/

    #textonews{
        margin-top: 30px;
    }

    /*####################### NEW CONTENT #################################*/

    #select-menu-news{
        font-size: 12px;
    }

    #titleNew{
        font-size: 11px;
    }

    #newsdivlist {
        font-size: 12px;
    }

    /*####################### PROJECTS CONTENT #################################*/

    #projectCredits{
        text-align: center;
    }

    /*####################### CONTACTS CONTENT #################################*/

    #messageform{
        float: none;
        margin-top: 40px;
    }

    /*####################### WHAT WE DO CONTENT #################################*/
    
    #cattitle{
        line-height: 22vw;
    }

     .tint{
        margin-bottom: 20px;
    }

    /*####################### LAB CONTENT #################################*/

    #labtitle{
        line-height: 31vw;
    }

    #labsynopsis{
        line-height: 36vw;
    }

    .ltint{
        margin-bottom: 20px;
    }

}

@media (min-width: 481px) and (max-width: 620px) {
    /*####################### PAGE HEADER #################################*/
    .container-fluid{
        background-color: white;
        margin-top: -5px;
        border-color: transparent;
    }

    .navbar{
        margin-top: -44px;
        border-color: transparent;
    }

    .navbar-default .navbar-collapse{
        border-color: transparent;
    }

    .navbar-collapse ul li{
        padding: 0;
    }

    #logotipo{
        background-color: white;
        width: 160px;
        margin-top: -16px;
    }

    #border-header{
        margin-top: -81px;
    }

    /*####################### PAGE FOOTER #################################*/

    #footerrighttop ul{
        padding: 0;
        width: 162px;
        margin: auto;
    }

    #sociallink{
        padding-right: 10px;
    }

    #mapleft ul{
        text-align: center;
    }

    #mapright ul{
        text-align: center;
    }

    #footerrightbottom {
        font-size: 9px;
    }

    #footerrightbottom {
        font-size: 9px;
        text-align: center;
    }

    #footerrightbottom p {
        padding-right: 0;
    }

    #footerrightbottom img {
        padding-right: 0;
    }

    /*####################### HOME CONTENT #################################*/

    #latestworkcontent{
        margin-top: 0;
    }

    #homebottomdivcenter{
        height: 200px;
    }

    #uparrow {
        bottom: -3px;
    }

    /*####################### PORTFOLIO CONTENT #################################*/

    #latestprojects p{
        font-size: 11px;
    }

    /*####################### TEAM CONTENT #################################*/


    #instatitle{
        font-size: 17px;
    }

    #membername{
        text-align: center;
    }

    #teamsocial{
        text-align: center;
    }

    /*####################### REEL CONTENT #################################*/

    #reelselection {
        width: 259px;
    }
    #reelselection ul li {
        font-size: 8px;
    }

    #bartitle{
        font-size: 14px;
    }

    #reeldivlist{
        margin-top: 50px;
    }

    /*####################### TIMELINE CONTENT #################################*/

    #textonews{
        margin-top: 30px;
    }

    /*####################### NEW CONTENT #################################*/

    #select-menu-news{
        font-size: 12px;
    }

    #titleNew{
        font-size: 11px;
    }

    #newsdivlist {
        font-size: 12px;
    }

    /*####################### PROJECTS CONTENT #################################*/

    #projectCredits{
        text-align: center;
    }

    #portfolioselection ul{
        width: 265px;
    }

    #portfolioselection ul li{
        font-size: 9PX;
    }

    #portfolioselection{
        margin-top: -30px;
    }

    #mainTitle{
        font-size: 76px;
    }

     /*####################### CONTACTS CONTENT #################################*/

    #messageform{
        float: none;
        margin-top: 40px;
    }

    /*####################### WHAT WE DO CONTENT #################################*/
    
    #cattitle{
        line-height: 22vw;
    }

     .tint{
        margin-bottom: 20px;
    }

    /*####################### LAB CONTENT #################################*/

    #labtitle{
        line-height: 31vw;
    }

    #labsynopsis{
        line-height: 36vw;
    }

    .ltint{
        margin-bottom: 20px;
    }

}

@media(min-width:621px) and (max-width:767px) {
    /*####################### PAGE HEADER #################################*/
    .container-fluid{
        background-color: white;
        margin-top: -5px;
        border-color: transparent;
    }

    .navbar{
        margin-top: -44px;
        border-color: transparent;
    }

    .navbar-default .navbar-collapse{
        border-color: transparent;
    }

    .navbar-collapse ul li{
        padding: 0;
    }

    #logotipo{
        background-color: white;
        width: 160px;
        margin-top: -16px;
    }

    #border-header{
        margin-top: -103px;
    }

    /*####################### PAGE FOOTER #################################*/

    #footerrighttop ul{
        padding: 0;
        width: 192px;
        margin: auto;
    }

    #sociallink{
        padding-right: 20px;
    }

    #footerrightbottom {
        font-size: 9px;
        text-align: center;
    }

    #footerrightbottom p {
        padding-right: 0;
    }

    #footerrightbottom img {
        padding-right: 0;
    }

    #mapleft ul{
        text-align: center;
    }

    #mapright ul{
        text-align: center;
    }

    /*####################### HOME CONTENT #################################*/

    #latestworkcontent{
        margin-top: 0;
    }

    #homebottomdivcenter{
        height: 200px;
    }

    #uparrow {
        bottom: -3px;
    }

    /*####################### PORTFOLIO CONTENT #################################*/

    #latestprojects p{
        font-size: 11px;
    }

    /*####################### REEL CONTENT #################################*/

    #reeldivlist{
        margin-top: 50px;
    }

    /*####################### TEAM CONTENT #################################*/

    #instatitle{
        font-size: 17px;
    }

    #instainfo img{
        margin-left:15px;
    }

    #photoinsta{
        height: 301px;
    }

    #membername{
        text-align: center;
    }

    #teamsocial{
        text-align: center;
    }

    /*####################### TIMELINE CONTENT #################################*/

    #textonews{
        margin-top: 30px;
    }

    /*####################### PROJECTS CONTENT #################################*/

    #projectCredits{
        text-align: center;
    }

    /*####################### CONTACTS CONTENT #################################*/

    #messageform{
        float: none;
        margin-top: 40px;
    }

    /*####################### WHAT WE DO CONTENT #################################*/
    
    #cattitle{
        line-height: 22vw;
    }

     .tint{
        margin-bottom: 20px;
    }

    /*####################### LAB CONTENT #################################*/

    #labtitle{
        line-height: 31vw;
    }

    #labsynopsis{
        line-height: 36vw;
    }

    .ltint{
        margin-bottom: 20px;
    }
}

@media(min-width:768px) and (max-width:876px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header {
        margin-top: -123px;
    }

    /*####################### PAGE FOOTER #################################*/

    #footerrighttop ul{
        padding: 0;
        width: 192px;
        margin: auto;
    }

    #sociallink{
        padding-right: 20px;
    }

    #footerrightbottom {
        font-size: 9px;
        text-align: center;
    }

    #footerrightbottom p {
        padding-right: 0;
    }

    #footerrightbottom img {
        padding-right: 0;
    }

    #mapleft ul{
        text-align: center;
    }

    #mapright ul{
        text-align: center;
    }

    /*####################### REEL CONTENT #################################*/

    #reeldivlist{
        margin-top: 50px;
    }

    /*####################### HOME CONTENT #################################*/

    #latestworkcontent{
        margin-top: 0;
    }

    #homebottomdivcenter{
        height: 200px;
    }

    #uparrow {
        bottom: -3px;
    }

    /*####################### PORTFOLIO CONTENT #################################*/

    #latestprojects p{
        font-size: 11px;
    }

    /*####################### TEAM CONTENT #################################*/

    #instainfo img{
        margin-left:15px;
    }

    #photoinsta{
        height: 301px;
    }

    /*####################### TIMELINE CONTENT #################################*/

    #textonews{
        margin-top: 30px;
    }

    /*####################### PROJECTS CONTENT #################################*/

    #projectCredits{
        text-align: center;
    }

    /*####################### CONTACTS CONTENT #################################*/

    #messageform{
        float: none;
        margin-top: 40px;
    }

    /*####################### WHAT WE DO CONTENT #################################*/
    
    #cattitle{
        line-height: 22vw;
    }

     .tint{
        margin-bottom: 20px;
    }

    /*####################### LAB CONTENT #################################*/

    #labtitle{
        line-height: 31vw;
    }

    #labsynopsis{
        line-height: 36vw;
    }

    .ltint{
        margin-bottom: 20px;
    }
}

@media(min-width:877px) and (max-width:945px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -137px;
    }

    /*####################### PAGE FOOTER #################################*/

    #footerrighttop ul{
        padding: 0;
        width: 192px;
        margin: auto;
    }

    #sociallink{
        padding-right: 20px;
    }

    #footerrightbottom {
        font-size: 9px;
        text-align: center;
    }

    #footerrightbottom p {
        padding-right: 0;
    }

    #footerrightbottom img {
        padding-right: 0;
    }

    #mapleft ul{
        text-align: center;
    }

    #mapright ul{
        text-align: center;
    }

    /*####################### REEL CONTENT #################################*/

    #reeldivlist{
        margin-top: 50px;
    }

    /*####################### HOME CONTENT #################################*/

    #latestworkcontent{
        margin-top: 0;
    }

    #homebottomdivcenter{
        height: 200px;
    }

    /*####################### PORTFOLIO CONTENT #################################*/

    #latestprojects p{
        font-size: 11px;
    }

    /*####################### TEAM CONTENT #################################*/

    #instainfo img{
        margin-left:26px;
    }

    #photoinsta{
        height: 301px;
    }

    /*####################### TIMELINE CONTENT #################################*/

    #textonews{
        margin-top: 30px;
    }

    /*####################### PROJECTS CONTENT #################################*/

    #projectCredits{
        text-align: center;
    }

    /*####################### CONTACTS CONTENT #################################*/

    #messageform{
        float: none;
        margin-top: 40px;
    }

    /*####################### WHAT WE DO CONTENT #################################*/
    
    #cattitle{
        line-height: 22vw;
    }

     .tint{
        margin-bottom: 20px;
    }

    /*####################### LAB CONTENT #################################*/

    #labtitle{
        line-height: 31vw;
    }

    #labsynopsis{
        line-height: 36vw;
    }

    .ltint{
        margin-bottom: 20px;
    }

    
}

@media(min-width:945px) and (max-width:991px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -157px;
    }

    nav{
        width: 60%;
        margin: auto;
    }

    /*####################### PAGE FOOTER #################################*/
    #footerright {
        width: 100%;
    }

    #footerleft{
        width: 100%; 
    }

    #footerrighttop ul{
        padding: 0;
        width: 192px;
        margin: auto;
    }

    #sociallink{
        padding-right: 20px;
    }

    #footerrightbottom {
        font-size: 9px;
        text-align: center;
    }

    #footerrightbottom p {
        padding-right: 0;
    }

    #footerrightbottom img {
        padding-right: 0;
    }

    #mapleft ul{
        text-align: center;
    }

    #mapright ul{
        text-align: center;
    }

    /*####################### HOME CONTENT #################################*/

    #latestworkcontent{
        margin-top: 0;
    }

    #homebottomdivcenter{
        height: 200px;
    }

    /*####################### REEL CONTENT #################################*/

    #reeldivlist{
        margin-top: 50px;
    }

    /*####################### PORTFOLIO CONTENT #################################*/

    #latestprojects p{
        font-size: 11px;
    }

    /*####################### TEAM CONTENT #################################*/


    #instainfo img{
        margin-left:29px;
    }

    #photoinsta{
        height: 301px;
    }

    /*####################### TIMELINE CONTENT #################################*/

    #textonews{
        margin-top: 30px;
    }

    /*####################### PROJECTS CONTENT #################################*/

    #projectCredits{
        text-align: center;
    }

    /*####################### CONTACTS CONTENT #################################*/

    #messageform{
        float: none;
        margin-top: 40px;
    }

    /*####################### WHAT WE DO CONTENT #################################*/
    
    #cattitle{
        line-height: 22vw;
    }

    .tint{
        margin-bottom: 20px;
    }

    /*####################### LAB CONTENT #################################*/

    #labtitle{
        line-height: 31vw;
    }

    #labsynopsis{
        line-height: 36vw;
    }

    .ltint{
        margin-bottom: 20px;
    }
}

@media(min-width:992px) and (max-width:1099px) {
     /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -157px;
    }

    nav{
        width: 60%;
        margin: auto;
    }

    /*####################### PAGE FOOTER #################################*/
    #footerright {
        width: 100%;
    }

    #footerleft{
        width: 100%; 
    }

    #footerrighttop ul{
        padding: 0;
        width: 192px;
        margin: auto;
    }

    #sociallink{
        padding-right: 20px;
    }

    #footerrightbottom {
        font-size: 9px;
        text-align: center;
    }

    #footerrightbottom p {
        padding-right: 0;
    }

    #footerrightbottom img {
        padding-right: 0;
    }

    #mapleft ul{
        text-align: center;
    }

    #mapright ul{
        text-align: center;
    }

    /*####################### REEL CONTENT #################################*/

    #reeldivlist{
        margin-top: 50px;
    }

    /*####################### REEL CONTENT #################################*/

    #reeldivlist{
        margin-top: 50px;
    }

    /*####################### HOME CONTENT #################################*/

    #latestworkcontent{
        margin-top: 0;
    }

    #homebottomdivcenter{
        height: 200px;
    }

    /*####################### PORTFOLIO CONTENT #################################*/

    #latestprojects p{
        font-size: 11px;
    }

    /*####################### TEAM CONTENT #################################*/

    #instainfo img{
        margin-left:13px;
    }

    #photoinsta{
        height: 167px;
    }

    #memberdescription{
        height: 237px;
    }

    #membername{
        text-align: center;
        font-size: 15px;
    }

    #teamsocial{
        text-align: center;
    }

    /*####################### TIMELINE CONTENT #################################*/
    
    #newdescription{
        height:31px;
    }

}

@media(min-width:1100px) and (max-width:1210px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -180px;
    }

    #triangles{
        position: relative;
    }

    nav{
        width: 60%;
        margin: auto;
    }

    /*####################### PORTFOLIO CONTENT #################################*/

    #latestprojects p{
        font-size: 11px;
    }

    /*####################### TEAM CONTENT #################################*/


    #instainfo img{
        margin-left:10px;
    }

    #photoinsta{
        height: 152px;
    }

    #memberdescription{
        height: 203px;
    }

    #membername{
        text-align: center;
    }

    #teamsocial{
        text-align: center;
    }

    .col-lg-8 {
        width: 100%;
    }

    .col-lg-4 {
        width: 100%;
    }

    /*####################### REEL CONTENT #################################*/

    #reeldivlist{
        margin-top: 50px;
    }

    /*####################### TIMELINE CONTENT #################################*/
    
    #newdescription{
        height:20px;
    }
    
}

@media(min-width:1211px) and (max-width:1300px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -197px;
    }

    #triangles{
        position: relative;
    }

    nav{
        width: 60%;
        margin: auto;
    }

    /*####################### PORTFOLIO CONTENT #################################*/

    #latestprojects p{
        font-size: 11px;
    }

     /*####################### TEAM CONTENT #################################*/

    #instainfo img{
        margin-left:10px;
    }

    #photoinsta{
        height: 152px;
    }

    #memberdescription{
        height: 203px;
    }

    #membername{
        text-align: center;
    }

    #teamsocial{
        text-align: center;
    }

    .col-lg-8 {
        width: 100%;
    }

    .col-lg-4 {
        width: 100%;
    }

    /*####################### REEL CONTENT #################################*/

    #reeldivlist{
        margin-top: 50px;
    }

    /*####################### TIMELINE CONTENT #################################*/
    
    #newdescription{
        height:9px;
    }
}

@media(min-width:1301px) and (max-width:1499px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -210px;
    }

    #triangles{
        position: relative;
    }

    nav{
        width: 60%;
        margin: auto;
    }

    /*####################### PORTFOLIO CONTENT #################################*/

    #latestprojects p{
        font-size: 11px;
    }

    /*####################### TEAM CONTENT #################################*/

    #memberdescription{
        height: 165px;
    }

    #membername{
        text-align: center;
    }

    #teamsocial{
        text-align: center;
    }

    .col-lg-8 {
        width: 100%;
    }

    .col-lg-4 {
        width: 100%;
    }

    /*####################### TIMELINE CONTENT #################################*/
    
    #newdescription{
        height:4px;
    }
}

@media(min-width:1500px) and (max-width:1600px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -245px;
    }

    #triangles{
        position: relative;
    }

    nav{
        width: 50%;
        margin: auto;
    }

    /*####################### TEAM CONTENT #################################*/

    #memberdescription{
        height: 143px;
    }

    #membername{
        text-align: center;
    }

    #teamsocial{
        text-align: center;
    }

    .col-lg-8 {
        width: 100%;
    }

    .col-lg-4 {
        width: 100%;
    }

}

@media(min-width:1601px) and (max-width:1800px) {

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -260px;
    }

    #triangles{
        position: relative;
    }

    nav{
        width: 50%;
        margin: auto;
    }

    /*####################### TEAM CONTENT #################################*/

    #membername{
        text-align: center;
    }

    #teamsocial{
        text-align: center;
    }

    .col-lg-8 {
        width: 100%;
    }

    .col-lg-4 {
        width: 100%;
    }

}

@media(min-width:1801px) and (max-width:1899px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -291px;
    }

    #triangles{
        position: relative;
    }

    nav{
        width: 50%;
        margin: auto;
    }

    /*####################### TEAM CONTENT #################################*/

    #memberdescription{
        height: 115px;
    }
}

@media(min-width:1900px) and (max-width:1920px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -315px;
    }

    #triangles{
        position: relative;
    }

    nav{
        width: 35%;
        margin: auto;
    }

    #spaceheader {
        height: 45px;
    }

    /*####################### HOME CONTENT #################################*/

    /*####################### TEAM CONTENT #################################*/

    #memberdescription{
        height: 103px;
    }
}

@media(min-width:1921px) and (max-width:2150px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -317px;
    }

    #triangles{
        position: relative;
    }

    nav{
        width: 35%;
        margin: auto;
    }

    #spaceheader {
        height: 45px;
    }

    /*####################### TEAM CONTENT #################################*/

    #memberdescription{
        height: 103px;
    }

}

@media(min-width:2151px) and (max-width:2300px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -354px;
    }

    #triangles{
        position: relative;
    }

    nav{
        width: 35%;
        margin: auto;
    }

    #spaceheader {
        height: 45px;
    }

    /*####################### TEAM CONTENT #################################*/

    #memberdescription{
        height: 103px;
    }

}

@media(min-width:2301px) and (max-width:2500px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -376px;
    }

    #triangles{
        position: relative;
    }

    nav{
        width: 35%;
        margin: auto;
    }

    #spaceheader {
        height: 45px;
    }

    /*####################### TEAM CONTENT #################################*/

    #memberdescription{
        height: 103px;
    }

}

@media(min-width:2501px) {
    /*####################### PAGE HEADER #################################*/

    #pad{
        padding-right: 35px; 
    }

    #border-header{
        margin-top: -407px;
    }

    #triangles{
        position: relative;
    }

    nav{
        width: 35%;
        margin: auto;
    }

    #spaceheader {
        height: 45px;
    }

    /*####################### TEAM CONTENT #################################*/

    #memberdescription{
        height: 103px;
    }

}

