@font-face {
    font-family: monserratmedium;
    src: url(/fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: monserratregular;
    src: url(/fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: monserratlight;
    src: url(/fonts/Montserrat-Light.otf);
}

@font-face {
    font-family: myriadregular;
    src: url(/fonts/MyriadPro-Regular.otf);
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1;
}

/*####################### PAGE HEADER STYLE #################################*/

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-nav > li > a {
    padding: 0;
    padding-top: 15px;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #b8153a;
}

.navbar-default .navbar-toggle{
  border-color: #b8153a;
  z-index: 6;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: white;
}

page-header{
  width: 100%;
  position: fixed;
  z-index: 1;
}

#cabecalho {
  width: 100%;
  position: absolute;
}

#triangles{
  background: white;
  width: 100%;
  height: 64px;
  text-align: center;
  margin-top: -20px;
  z-index: 4;
  position: relative;
}

#header-triangles{
  text-align: center;
  width: 90%;
  height: 55px;
}

#logotipo{
  text-align: center;
  position: relative;
  z-index: 5;
  width: 250px;
  margin: auto;
  margin-top: -26px;
}

#logotipo img{
  width: 110px;
  margin: auto;
}

#menu {
  font-family: monserratmedium;
  font-size: 15px;
  text-align: center;
  height: 30px;
  margin: 22px;
}

#menu ul{
  width: 527px;
  margin: auto;
  list-style-type: none;
  padding: 0;
}

#menu ul li {
    float:left;
}

#border-header{
  width: 100%;
  margin-top: -87px;
}

#menu-link{
  text-decoration: none;
  position: relative;
  color:#b8153a;
}

#menu-link:after{
  color:#b8153a;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #b8153a;
  transition: 0.4s;
}

#menu-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: 0.4s;
}

#menu-link:hover:after {
  width: 100%;
}


/*#menu-link:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b8153a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#menu-link:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/


/*####################### PAGE FOOTER STYLE #################################*/

#footer {
  width: 60%;
  margin:0 auto;
  float: none;
}

#sociallink{
  padding-right: 20px;
}

#footer-delimiter{
  height: 55px;
}

#border-footer{
  width: 100%;
}

#mapleft ul{
  margin-top: 20px;
  padding:15px;
}

#mapleft li{
  font-family: monserratregular;
  list-style-type: none;
  color:#b8153a;
  font-size: 14px;
  margin-bottom: 20px;
}

#mapright ul{
  margin-top: 20px;
  padding:15px;
}

#mapright li{
  font-family: monserratregular;
  list-style-type: none;
  color:#b8153a;
  font-size: 14px;
  margin-bottom: 20px;
}

#map-link{
  text-decoration: none;
  position: relative;
  color:#b8153a;
}

#map-link:after{
  color:#b8153a;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #b8153a;
  transition: 0.4s;
}

#map-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: 0.4s;
}

#map-link:hover:after {
  width: 100%;
}

#footerrighttop {
  text-align: right;
  height: 80px;
}

#footerrighttop ul{
  margin-top: 30px;
  padding-right:15px;
}

#footerrighttop li{
  display:inline;
  list-style-type: none;
}

#footerrighttop li img{
  width:30px;
}

#footerrightbottom {
  text-align: right;
  color:#b8153a;
  font-size: 12px;
  height: 100px;
  padding-right: 15px;
}

#footerrightbottom img{
  width:85px;
  padding-right: 13px;
}

#footerrightbottom p{
  padding-right: 15px;
}

/*####################### HOME PAGE CONTENT STYLE #################################*/

#content {
  width: 100%;
}

#homeimg1{
  position:relative;
  width: 100%;
  height: 100vh;
  background: url('https://www.whitecase.com/sites/whitecase/files/images/locations/HongKong_Tablet_1920x960.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#uparrow{
  width: 100%;
  bottom:-6px;
  position:absolute;
}

#downarrow{
  width: 100%;
}

#slogan-top{
  height: 150px;
  padding-top: 60px;
  text-align: center;
  font-family: monserratmedium;
  font-size: 19px;
  color: #3e2a56;
  letter-spacing: 3px;
}

#slogan-bottom{
  height: 150px;
  padding-top: 40px;
  text-align: center;
  font-family: monserratmedium;
  font-size: 19px;
  color: #3e2a56;
  letter-spacing: 3px;
}

#latestworkcontent{
  position: relative;
  padding-bottom: 50px;
  margin-top:40px;
}

#latestwork{
  text-align: center;
  width: 60%;
  float:left;
}

#latestwork p{
  margin-top: 50px;
  font-family: monserratregular;
  font-size: 16px;
  color: #3e2a56;
  letter-spacing: 2px;
}

#latestprojects{
  padding: 0;
  margin-top:40px;
}

#latestprojects a:hover > #latestprojectsphoto{
   -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

#latestprojectsphoto{
  width: 95%;
  height:250px;
  margin: auto;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}

#latestprojects p{
  text-align: left;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: myriadregular;
  font-size: 14px;
  color: #3e2a56;
  letter-spacing: 1px;
}

#homedivleft{
  width: 20%;
  float: left;
}

#homedivright{
  position: absolute;
  width: 20%;
  right:-2px;
  text-align: right;
  bottom: 0px;
}

#left-triangle{
  width: 60%;
}

#homebottomdivcenter{
  text-align: center;
  position: relative;
  width: 100%;
  margin-top:50px;
  height:350px;
  font-family: monserratmedium;
  font-size: 19px;
  color: #3e2a56;
  letter-spacing: 3px;
}

#left-triangle-bottom-div{
  position: relative;
  width: 8%;
  float:left;
}

#bottom-slogan{
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

/*####################### PORTFOLIO PAGE CONTENT STYLE #################################*/

#selectcontent{
  height: 80px;
  padding-top: 200px; 
}

#portfolioselection ul{
  width: 423px;
  height: 25px;
  list-style-type: none;
  margin: auto;
  color: white;
  padding:0;
}

#portfolioselection ul li{
  float: left;
  font-family: monserratmedium;
  font-size: 20px;
  letter-spacing: 3px;
}

#port-link{
  text-decoration: none;
  position: relative;
  color:white;
}

#port-link:after{
  color:white;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid white;
  transition: 0.4s;
}

#port-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: 0.4s;
}

#port-link:hover:after {
  width: 99%;
}

#mainTitle{
  width:100%;
  font-size: 140px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

#mainTitle p{
  text-align: center;
}

#portfoliocontent{
  position: relative;
  padding-bottom: 50px;
  margin-top:80px;
}


/*####################### TEAM PAGE CONTENT STYLE #################################*/


#spaceheaderteam{
  width: 100%;
  height: 69px;
  content: '';
}

#teamcontent{
  position: relative;
  margin-top:40px;
}

#teamdivtop{
  text-align: center;
  width: 60%;
  float:left;
  margin-top: 50px;
}

#teamdivtop p{
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: monserratmedium;
  font-size: 23px;
  color: #3e2a56;
  letter-spacing: 2px;
}

#teamtext p{
  margin-top: 20px;
  text-align: justify;
  font-family: myriadregular;
  font-size: 17px;
  color: #3e2a56;
  letter-spacing: 1px;
}

#divleft{
  width: 14%;
  float: left;
}

#teamdivlist{
  /*border: solid 2px red;*/
  text-align: center;
  width: 60%;
  margin: auto;
}

#titlelist{
  height: 80px;
  padding-top: 20px;
  text-align: center;
  font-family: monserratmedium;
  font-size: 23px;
  color: #3e2a56;
  letter-spacing: 3px;
}

#teammemberphoto{
  width: 95%;
  height:250px;
  margin: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#membername{
  font-family: monserratmedium;
  font-size: 17px;
  color: #3e2a56;
  text-align: left;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#memberdescription{
  font-family: myriadregular;
  font-size: 15px;
  color: #3e2a56;
  text-align: justify;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#listalign{
  padding: 0;
}

#instatitle{
  width: 100%;
  position: absolute;
  font-size: 22px;
  margin-top: 50px;
}

#insta{
  width: 60%;
  margin: auto;
  position:relative;
  padding-top: 45px;
}

#photoinsta {
  content: '';
  width: 90%; 
  height: 200px;
  margin: auto;
  margin-top:25px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#right-triangle-bottom-div{
  width: 8%;
  float:right;
  margin-top:-200px;
  margin-bottom: 300px;
}

#instainfo{
  padding-top: 120px;
  width: 60%;
  margin: auto;
}

#instainfo img{
  width:30px;
  float: left;
  margin-left:14px;
}

#instainfo p{
  font-family: monserratmedium;
  float: left;
  letter-spacing: 1px;
}


/*####################### REEL PAGE CONTENT STYLE #################################*/

#selectcontentreel{
  height: 80px; 
}

#reelcontent{
  position: relative;
  margin-top:40px;
}

#reeltitle{
  width: 227px;
  height: 50px;
  margin: auto;
  text-align: center;
}

#reeltitlecenter{
  float: left;
  width: 175px;
  text-align: center;
  font-family: monserratmedium;
  font-size: 26px;
  letter-spacing: 3px;
}

#reeltitlecenter p{
  color: #3e2a56;
}

#reelselection{
    width: 328px;
    margin: auto;
}

#smalltriangleleft{
  float: left;
}

#reelselection ul{
  list-style-type: none;
  margin: auto;
  color: #3e2a56;
  padding:0;
}

#reelselection ul li{
  float: left;
  font-family: monserratmedium;
  font-size: 12px;
  letter-spacing: 3px;
}

#spaceheaderreel{
  width: 100%;
  height: 162px;
  content: '';
}

#reeldivlist{
  width: 63%;
  margin:auto;
  float:left;
  padding-bottom: 100px; 
}

#divleftreel{
  width: 18.5%;
  float: left;
}

#divrightreel{
  width: 18.5%;
  right:-2px;
  text-align: right;
  bottom: 0px;
}

#reel{
  width: 96%;
  height:34vw;
  margin-left: 2%;
  z-index:0; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#reelvideo{
  width: 96%; 
  height:34vw;
  margin: auto;
  z-index: -1;
}


/*####################### CONTACTS PAGE CONTENT STYLE #################################*/
#address{
  min-width: 255px;
}

#messageform{
  float: right;
  min-width: 250px;
  padding-bottom: 40px;
}

#spaceheadercontacts{
  width: 100%;
  height: 200px;
  content: '';
}

#contactscontent{
  position: relative;
  margin-top:40px;
}

#info-form{
    width: 60%;
    margin: auto;
} 

.formtb{
    width: 100%;
    height: 32px;
    border: 0;
    color: #9b9694;
    outline: 0;
    border-bottom: solid 1px #3e2a56;
    font-family: monserratlight;
    letter-spacing: 1px;
}

textarea {
    width: 100%;
    padding-top: 7px;
    padding-left: 7px;
    color: #9b9694;
    border: 1px solid #3e2a56;
    resize: none;
    outline: 0;
    font-family: monserratlight;
}

#send {
    background-color: transparent;
    color: #b8153a;
    width: 213px;
    height: 35px;
    margin-top: 20px;
    border: 2px solid #b8153a;
    transition: background-color .2s ease;
    transition: color .2s ease;
    font-family: monserratlight;
}

#send:hover {
    color: #f7f1e0;
    background-color: #b8153a;
}

#line_cont {
    width: 60px;
    border: 0;
    height: 0;
    border-top: 1px solid #b8153a;
    border-bottom: 1px solid rgba(255,255,255,.3);
    float: left;
    margin: 0;
}

#info_title{
  font-family: monserratregular;
  font-size: 14px;
  color: #b8153a; 
  letter-spacing: 1px;
  margin:5px;
}

#info_text{
  line-height:22px; 
  color: #3e2a56; 
  font-size:12px;
  font-family: monserratlight;
}

#contactsdivlist{
  width: 57%;
  margin:auto;
}

/*####################### TIMELINE PAGE CONTENT STYLE #################################*/

#timelinedivright{
  width: 23%;
}

#spaceheadertimeline{
  width: 100%;
  height: 122px;
  content: '';
}

#selectcontenttimeline{
  height: 80px; 
}

#timelineselection ul{
  width: 187px;
  height: 25px;
  list-style-type: none;
  margin: auto;
  color: #3e2a56;
  padding:0;
  font-size: 14px;
}


#timelinedivlist{
  width: 63%;
  margin:auto;
  float:left;
}

#timelinetitlecenter{
  float: left;
  width: 280px;
  text-align: center;
  font-family: monserratregular;
  font-size: 26px;
  letter-spacing: 3px;
}

#timelinetitlecenter p{
  color: #3e2a56;
}

#timelinetitle{
  width: 330px;
  height: 50px;
  margin: auto;
  text-align: center;
}

#titleSixNews{
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: monserratregular;
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 50px;
    color: #3e2a56;
}

#select-menu-timeline{
  margin-top: 150px;
}

#timelinecontent{
  position: relative;
}

#newname{
  font-family: monserratmedium;
  font-size: 17px;
  color: #3e2a56;
  text-align: left;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  text-transform: uppercase;
  height: 30px;
}

#newdescription{
  font-family: myriadregular;
  font-size: 15px;
  color: #3e2a56;
  text-align: justify;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#timeLines{
  margin-top: -100px;
  margin-bottom:50px;
}

#infoNews{
  width: 63%;
  margin: auto;
  padding-bottom: 100px;
}

#newsphoto{
    width: 100%;
    height: 200px;
    float: left;
}

#newdatename{
  font-family: monserratmedium;
  font-size: 19px;
  color: #3e2a56;
  text-align: left;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#newdatedescription{
  font-family: myriadregular;
  font-size: 17px;
  color: #3e2a56;
  text-align: justify;
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
}

#textonews{
    width: 100%;
    float: right;
}

#bartitle{
    width: 60%;
    float: left;
    text-align: center;
    margin-top:200px;
    font-size: 20px;
    font-family: monserratregular;
    letter-spacing: 2px;
    color: #3e2a56;
}

#timelinedivright {
    position: relative;
    float: right;
    width: 23%;
    right:-2px;
    text-align: right;
    bottom: 0px;
    margin-top: -150px;
}

/*####################### NEWS PAGE CONTENT STYLE #################################*/

#select-menu-news{
  font-size: 22px;
  font-family: monserratregular;
  color: #3e2a56;
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.carousel-control.right {
  background-image: none;
  background-color: #3e2a56;
  width: 40px;
  cursor: pointer;
  opacity: 1;
}

.carousel-control.right:hover {
  opacity: 1;
}

.carousel-control.left {
  background-image: none;
  background-color: #3e2a56;
  width: 40px;
  text-align: center;
  cursor: pointer;
  opacity: 1;
}

.carousel-control.left:hover {
  opacity: 1;
}

.carousel-indicators{
  display: none;
}

#carouselContent{
  width: 86%;
  margin: auto;
  height: 32vw;
  margin-bottom: 50px;
}

.carousel{
  height: 100%;
}

#divImgCarousel{
  width: 100%;
  height: 100%;
}

#titleNew{
    width: 58%;
    margin: auto;
    font-family: monserratmedium;
    font-size: 21px;
    letter-spacing: 3px;
    padding-bottom: 20px;
    color: #b8153a;
    text-transform: uppercase;
}

#newsdivlist{
  width: 58%;
  margin:auto;
  text-align: justify;
  color: #3e2a56;
  font-size: 14px;
  margin-bottom: 70px;
}

#cracha{
  border: solid 2px red;
  display: none;
}

/*####################### PROJECT PAGE CONTENT STYLE #################################*/

#projectstill{
  width: 100%;
  height: 30vw;
  z-index:0; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#stillProjectcontent{
  width:60%;
  height:30vw;
  margin: auto;
}

#projectVideo {
    width: 100%;
    height: 30vw;
    margin: auto;
    z-index: -1;
}

#projecttitle{
  font-family: monserratregular;
  font-size: 22px;
  color: #3e2a56;
  clear: both;
  width: 60%;
  margin: auto;
  margin-top: 40px;

}

#projectdescription1, #projectdescription2{
  font-family: monserratregular;
  font-size: 15px;
  color: #3e2a56;
  clear: both;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  text-align: justify;
}

#projectheadercontent{
  margin-top:40px;
}

#projectStills{
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

#twocolumn{
  height: 200px;
}

#projectCredits{
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

#creditTitle{
  color: #b8153a;
  font-family: monserratregular;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 4px;
}

#creditName{
  color: #3e2a56;
  font-family: myriadregular;
  font-size: 15px;
}

#midStillProjectcontent{
  width:60%;
  height:30vw;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#projectdescription3{
  font-family: monserratregular;
  font-size: 15px;
  color: #3e2a56;
  margin: auto;
  text-align: justify;
}

#bottomStillProjectcontent{
  width:60%;
  height:33vw;
  margin: auto;
}


/*####################### DISCLAIMER PAGE CONTENT STYLE #################################*/

#disclaimerdivtop{
  text-align: center;
  width: 60%;
  float:left;
  margin-top: 150px;
}

#disclaimertext p, #disclaimertext ol, #disclaimertext ul{
  margin-top: 10px;
  text-align: justify;
  font-family: myriadregular;
  font-size: 17px;
  color: #3e2a56;
  letter-spacing: 1px;
}

#disclaimertext h3{
  font-family: monserratmedium;
  font-size: 23px;
  color: #3e2a56;
  letter-spacing: 1px;
}


/*####################### LAB PAGE CONTENT STYLE #################################*/

#labcontent{
  position: relative;
  margin-top:40px;
}

#labdivtop{
  text-align: center;
  width: 71%;
  float:left;
  margin-top: 130px;
}

#lablist{
  width: 71%;
  margin: auto;
  margin-bottom: 90px;
}

#lablist p{
  text-align: left;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: myriadregular;
  font-size: 16px;
  color: #3e2a56;
  letter-spacing: 1px;
}


/*####################### CAREER PAGE CONTENT STYLE #################################*/

#careerdivtop{
  text-align: center;
  width: 60%;
  float:left;
  margin-top: 130px;
}

#careerinfo1, #careerinfo2{
  font-family: monserratmedium;
  font-size: 15px;
  color: #3e2a56;
  letter-spacing: 1px;
}

#careerdivtoptitle{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: monserratmedium;
  font-size: 27px;
  color: #b8153a;
  letter-spacing: 1px;
}

#careerlist{
  border-top: solid 2px #3e2a56;
  width: 71%;
  margin: auto;
  margin-bottom: 90px;
}

#job{
  border-bottom: solid 2px #3e2a56;
  width: 98%;
  margin: auto;
}

#titleJob{
  margin-top: 20px;
  font-family: monserratmedium;
  color: #b8153a;
  font-size: 24px;
  padding-bottom: 10px;
}

#jobCol1{
  height: 130px;
  padding-left: 30px;
}

#jobCol2{
  height: 130px;
  text-align: center;
  line-height: 90px;
}

#jobCol3{
  height: 130px;
  text-align: center;
  padding-top: 40px;
}

#dateJob{
  font-family: myriadregular;
  color: #3e2a56;
  font-size: 18px;
}

#locationJob{
  margin-top: 20px;
  font-family: monserratmedium;
  color: #3e2a56;
  font-size: 22px;
  text-transform: uppercase;
}

#statusJob{
  font-family: myriadregular;
  color: #3e2a56;
  font-size: 18px;
}
