@font-face {
    font-family: monserratmedium;
    src: url(/fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: monserratregular;
    src: url(/fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: myriadregular;
    src: url(/fonts/MyriadPro-Regular.otf);
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*####################### PAGE HEADER STYLE #################################*/

page-header{
  width: 100%;
  position: fixed;
  z-index: 1;
}

#cabecalho {
  width: 100%;
  position: absolute;
}

#triangles{
  width: 100%;
  height: 40px;
  text-align: center;
}

#header-triangles{
  text-align: center;
  width: 90%;
  height: 55px;
}

#logotipo{
  height: 100px;
  text-align: center;
  background-color: #FFFFFF;
}

#logotipo img{
  width: 165px;
  margin: auto;
}

#menu {
  background-color: #FFFFFF;
  font-family: monserratmedium;
  font-size: 19px;
  text-align: center;
  height: 30px;
}

#menu ul{
  width: 740px;
  margin: auto;
  list-style-type: none;
    padding: 0;
}

#menu ul li {
    float:left;
}

#border-header{
  width: 100%;
}

#menu-link{
  text-decoration: none;
  position: relative;
  color:#b8153a;
}

#menu-link:after{
  color:#b8153a;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #b8153a;
  transition: 0.4s;
}

#menu-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: 0.4s;
}

#menu-link:hover:after {
  width: 100%;
}


/*#menu-link:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b8153a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#menu-link:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/


/*####################### PAGE FOOTER STYLE #################################*/

#footer {
  width: 60%;
  height:300px;
  margin:0 auto;
  float: none;
}

#footer-delimiter{
  height: 55px;
}

#border-footer{
  width: 100%;
}

#footerleft{
  height: 250px;
}

#footerright{
  height: 250px;
}

#mapleft{
  height: 250px;
}

#mapleft ul{
  margin-top: 20px;
  padding:15px;
}

#mapleft li{
  font-family: monserratregular;
  list-style-type: none;
  color:#b8153a;
  font-size: 16px;
  margin-bottom: 20px;
}

#mapright{
  height: 250px;
}

#mapright ul{
  margin-top: 20px;
  padding:15px;
}

#mapright li{
  font-family: monserratregular;
  list-style-type: none;
  color:#b8153a;
  font-size: 16px;
  margin-bottom: 20px;
}

#map-link{
  text-decoration: none;
  position: relative;
  color:#b8153a;
}

#map-link:after{
  color:#b8153a;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #b8153a;
  transition: 0.4s;
}

#map-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: 0.4s;
}

#map-link:hover:after {
  width: 100%;
}

#footerrighttop {
  text-align: right;
  height: 135px;
  padding-top: 20px;
}

#footerrighttop ul{
  margin-top: 35px;
  padding-right:15px;
}

#footerrighttop li{
  display:inline;
  list-style-type: none;
}

#footerrighttop li img{
  width:35px;
}

#footerrightbottom {
  text-align: right;
  color:#b8153a;
  font-size: 12px;
  height: 100px;
  padding-right: 15px;
}

#footerrightbottom img{
  width:85px;
  padding-right: 13px;
}

#footerrightbottom p{
  padding-right: 15px;
}

/*####################### HOME PAGE CONTENT STYLE #################################*/

#content {
  width: 100%;
}

#spaceheader {
  width: 100%;
  height: 150px;
  content: '';
}

#homeimg1{
  position:relative;
  width: 100%;
  height: 100vh;
  background: url('https://www.whitecase.com/sites/whitecase/files/images/locations/HongKong_Tablet_1920x960.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#uparrow{
  width: 100%;
  bottom:-6px;
  position:absolute;
}

#downarrow{
  width: 100%;
}

#slogan-top{
  height: 150px;
  padding-top: 30px;
  text-align: center;
  font-family: monserratmedium;
  font-size: 31px;
  color: #3e2a56;
  letter-spacing: 3px;
}

#slogan-bottom{
  height: 150px;
  padding-top: 40px;
  text-align: center;
  font-family: monserratmedium;
  font-size: 31px;
  color: #3e2a56;
  letter-spacing: 3px;
}

#latestworkcontent{
  position: relative;
  padding-bottom: 50px;
  margin-top:40px;
}

#latestwork{
  text-align: center;
  width: 72%;
  float:left;
}

#latestwork p{
  margin-top: 50px;
  font-family: monserratregular;
  font-size: 28px;
  color: #3e2a56;
  letter-spacing: 2px;
}

#latestprojects{
  padding: 0;
  margin-top:40px;
}

#latestprojectsphoto{
  width: 95%;
  height:250px;
  margin: auto;
  border: solid 2px green;
}

#latestprojects p{
  text-align: left;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: myriadregular;
  font-size: 16px;
  color: #3e2a56;
  letter-spacing: 1px;
}

#homedivleft{
  width: 14%;
  float: left;
}

#homedivright{
  position: absolute;
  width: 14%;
  right:-2px;
  text-align: right;
  bottom: 0px;
}

#left-triangle{
  width: 60%;
}

#homebottomdivcenter{
  text-align: center;
  position: relative;
  width: 100%;
  margin-top:70px;
  height:350px;
  font-family: monserratmedium;
  font-size: 31px;
  color: #3e2a56;
  letter-spacing: 3px;
}

#left-triangle-bottom-div{
  position: relative;
  width: 8%;
  float:left;
}

#bottom-slogan{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*####################### PORTFOLIO PAGE CONTENT STYLE #################################*/

#spaceheaderportfolio {
  width: 100%;
  height: 300px;
  content: '';
}

#select-menu{
  border: solid 2px red;
  height: 150px;
}

#selectcontent{
  border: solid 2px blue;
  text-align: center;
}

#portfoliotitle{
  border: solid 2px green;
  width: 290px;
  height: 50px;
  margin: auto;
  text-align: center;
}

#smalltriangleleft{
  float: left;
}

#portfoliotitlecenter{
  float: left;
  width: 240px;
  text-align: center;
  font-family: monserratmedium;
  font-size: 31px;
  color: #3e2a56;
  letter-spacing: 3px;
}

#smalltriangleright{
  float: left;
}

#portfolioselection{
  border: solid 2px red;
  height: 150px;
}

