<div id="content">
  <div id="spaceheadercontacts"></div>
  <div id="contactscontent">
    <div class="row">
        <div id="homedivleft">
            <img src="/img/left_triangle.png" width="40%">
        </div>
        <div id="info-form" style="border-bottom:solid 4px #b8153a">
            <div class="row" style="width: 51vw; margin: auto;">
                <div id="address" class="col-md-5">
                    <p id="info_title">&nbsp;&nbsp;&nbsp;ADDRESS:</p>
                    <hr id='line_cont'>
                    <p id="info_text" style="margin-top: 10px; margin-bottom:0;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rua Alfredo Guisado nº39 Sala 12</p>
                    <p id="info_text" style="margin-top:0;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1500-030 Portugal</p>
                    <br>
                    <br>
                    <p id="info_title">&nbsp;&nbsp;&nbsp;E-MAIL:</p>
                    <hr id='line_cont'>
                    <p id="info_text" style="margin-top: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;info@pushvfx.com</p>
                    <br>
                    <br>
                    <p id="info_title">&nbsp;&nbsp;&nbsp;PHONE:</p>
                    <hr id='line_cont'>
                    <p id="info_text" style="margin-top: 10px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+351 960 313 947</p>
                </div>
                <div id="messageform" class="col-md-5" style="text-align: center;">
                  <form id="contactFormContainer" action="#" ng-submit="submitContactForm()" name="newContactForm">
                    <input id="contactName" ng-class="inputNameClass" type="text" name="Name" ng-required="true" ng-model="nameContact" placeholder="NAME" style="color: #9b9694;" >
                    <br>
                    <br>
                    <input id="contactEmail" ng-class="inputEmailClass" type="email" name="Email" ng-required="true" ng-model="emailContact" placeholder="E-MAIL">
                    <br>
                    <br>
                    <input id="contactSubject" ng-class="inputSubjectClass" type="text" name="Subject" ng-required="true" ng-model="subjectContact" placeholder="SUBJECT">
                    <br>
                    <br>
                    <br>
                    <textarea id="textAreaContact"  ng-class="textAreaClass" rows="7"  name="Message" ng-required="true" ng-model="messageContact" placeholder="MESSAGE"></textarea>
                    <!--<button id="send" type="submit" value="Submit"> SEND MESSAGE </button>-->
                    <input type="button" id="send" value="SEND MESSAGE" ng-click="submitContactForm()">
                    <br>
                    <br>
                    <br>
                    <p style="color:#3e2a56;" ng-show="newContactForm.Name.$valid == false && newContactForm.Email.$valid == false && newContactForm.Subject.$valid == false && newContactForm.Message.$valid == false"> * All fields are required. Please fill the form accordingly. </p>
                  </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div id="reellist">
    <div class="row">
        <div id="divleftreel">
            <p></p>
        </div>
        <div id="contactsdivlist">
            <div class="col-md-12" style="padding:0; margin-bottom: 70px; height: 23vw;">
                <ng-map  id="pushMap" zoom="16" center="[38.748242, -9.185363]" style="height: 100%; margin-top: 90px;">
                    <marker position="[38.748242, -9.185363]" />
                </ng-map>
            </div>
        </div>
        <div id="homedivright">
            <img src="/img/right_triangle.png" width="40%">
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
