/**
* Farbtastic Color Picker 1.2
* © 2008 Steven Wittens
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
*/

body
{
  background-color:#eeeeee;
}

.R-item
{
  left:35%;
}

.G-item
{
  left:35%;
  top:6%;
}

.B-item
{
  left:35%;
  top:11%;
}

.form-item
{
  left:35%;
  top:16%;
}

.farbtastic {
  left:5%;
  position: relative;
}
.farbtastic * {
  position: relative;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 101px;
  height: 101px;
}
.farbtastic .color, .farbtastic .overlay {
  top:39px;
  left:27px;
  width: 45px;
  height: 45px;
  border-radius:100px;
  box-shadow: inset 0px 1px 1px 1px #d9d9da;
}

.shadowColorPicker {
  top:45px;
  left:20px;
  width: 45px;
  height: 45px;
  border: 1px black solid;
  border-radius:100px;
  color: linear-gradient(rgba(127, 127, 127, 0), rgba(127, 127, 127, 1));
}

.farbtastic .wheel {
  background: url(../img/wheel.png) no-repeat;
  bottom:35px;
  width: 100px;
  height: 100px;
  z-index:1;
}

.farbtastic .sliderSat {
  position:absolute;
  /*background: url(maskSliderSat.png) no-repeat;*/
  background-color:#ffffff;
  top:10px;
  left: 120px;
  width: 10px;
  height: 100px;
  border: 1px white solid;
  border-radius:50px;
  box-shadow: 1px 1px 1px 1px #d9d9da;
  z-index:1;
}

.farbtastic .sliderSatOverlay {
  position:absolute;
  background: linear-gradient(rgba(127, 127, 127, 0), rgba(127, 127, 127, 1)); /* Standard syntax */
  top:10px;
  left: 120px;
  width: 10px;
  height: 100px;
  border: 1px white solid;
  border-radius:50px;
  z-index:1;
}

.farbtastic .sliderLum {
  position:absolute;
  background: url(../img/maskSliderLum.png) no-repeat;
  background-color:#ffffff;
  left: 150px;
  top:11px;
  width: 10px;
  height: 100px;
  border: 1px white solid;
  border-radius:50px;
  box-shadow: 1px 1px 1px 1px #d9d9da;
  z-index:1;
}

.farbtastic .overlay {
  background: url(../img/mask.png) no-repeat;
}

.farbtastic .marker {
  position:absolute;
  width: 24px;
  height: 24px;
  margin: 3px 0 0 -9px;
  overflow: hidden;
  z-index:3;
  background: url(../img/marker.png) no-repeat;
}

.farbtastic .markerSat {
  position:absolute;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index:3;
  background: url(../img/markerSlider.png) no-repeat;
}

.farbtastic .markerLum {
  position:absolute;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index:3;
  background: url(../img/markerSlider.png) no-repeat;
}

.inputContainer
{
  float:right;
  position:relative;
  margin-top:7%;
  text-align: right;
  font-family: osl;
  color: #e46100;
  top:-14px;
}

input[type="text"]
{
  width: 55px;
  margin-bottom: 4px;
}

.buttonPlus
{
  position:relative;;
  /*float:left;
  top:18%;
  left:6.9%;*/
  width: 36px;
  height: 36px;
  overflow: hidden;
  z-index:3;
  background: url(../img/buttonPlus.png) no-repeat;
}

.buttonPlusFavContainer
{
  background-color:#bfbfbf;
  margin:auto;
  position:relative;
  width:110px;
  height:25px;
  border-radius:50px;
  box-shadow: 0px 1px #707070;
  cursor: pointer;
  padding-top: 6px;
}

.buttonPlusFavContainer:hover
{
  background-color:#ffa023;
}

.buttonPlusFav
{
  margin-left:42%;
  width: 21px;
  height: 21px;
  overflow: hidden;
  z-index:3;
  background: url(../img/buttonPlus.png) no-repeat;
}

.favButtonMenu
{
  width: 200px;
  margin-left: -37px;
  margin-top: -5px;
  position:relative;

}

.favButtonMenu ul
{
  height:10%;
  list-style:none;
}

.favButtonMenu ul li
{
  margin-left:10px;
  margin-bottom:10px;
  float:left;
  height:35px;
  width:35px;
  border: 1px white solid;
  border-radius:50px;
  box-shadow: inset 0px 2px 1px 1px #d9d9da;
}

.favButtonMenuBg
{
  width: 200px;
  margin-left: -37px;
  margin-top: -5px;
  position:relative;

}

.favButtonMenuBg ul
{
  height:10%;
  list-style:none;
}

.favButtonMenuBg ul li
{
  margin-left:10px;
  margin-bottom:10px;
  float:left;
  height:35px;
  width:35px;
  border: 1px white solid;
  border-radius:50px;

}
