<div id="content">
  <div id="spaceheadertimeline"></div>
  <div id="timelinecontent">
    <div class="row">
        <div id="homedivleft">
            <img src="/img/left_triangle.png" width="40%">
        </div>
        <div id="select-menu-news">
            <p style="margin-bottom: 50px;">{{ title }}</p>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4" style="padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom: 5px;" ng-repeat="slide in slides track by $index">
                        <div ng-if="slide.isInternal == false">
                            <a href="{{slide.link}}" target="_blank"><img id="image" ng-src="{{slide.still}}"></a>
                        </div>
                        <div ng-if="slide.isInternal == true">
                            <a ng-click="saveId(slide.link)"  href="/projects"><img id="image" ng-src="{{slide.still}}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <br>
  <br>
  <div id="reellist">
    <div class="row">
        <div id="newsdivlist">
            <p>{{ description }}</p>
            <div id="cracha"></div>
        </div>
        <div id="homedivright">
            <img src="/img/right_triangle.png" width="40%">
        </div>
    </div>
  </div>
</div>
