<div id="content">
  <div id="homeimg1" ng-style="{'background':'url({{mainStill1}}) no-repeat center center'}">
    <div id="uparrow">
      <img src="/img/arrow_up.png" width="100%">
      <!--<embed src="/img/arrow_up.svg" width="100%" />-->
      <!--<object data="/img/arrow_up.svg" type="image/svg+xml" width="100%"></object>-->
    </div>
  </div>
  <div id="slogan-top">
    <p>PUSH YOURSELF TO NEW IDEAS</p>
  </div>
  <div id="latestworkcontent">
    <div class="row">
      <div id="homedivleft">
        <img src="/img/left_triangle.png" width="40%">
      </div>
      <div id="latestwork">
        <p>OUR LATEST WORK</p>
        <div id="latestprojects">
            <div class="col-md-4" style="padding:0;" ng-repeat="bestproject in bestprojects.data">
              <a style="text-decoration: none;" ng-click="saveId(bestproject._id)"  href="/projects">
                <div id="latestprojectsphoto"> 
                  <img id="image" ng-src="{{bestproject.thumbnail}}">
                </div>
                <p>{{ bestproject.title }}</p>
              </a>
            </div>
          </a>
        </div>
      </div>
      <div id="homedivright">
        <img src="/img/right_triangle.png" width="40%">
      </div>
    </div>
  </div>
  <div id="slogan-bottom">
    <p>PUSH YOURSELF TO THE LIMIT</p>
  </div>
  <div id="homeimg1" ng-style="{'background':'url({{mainStill2}}) no-repeat center center'}">
    <div id="downarrow">
      <img src="/img/arrow_down.png" width="100%">
    </div>
    <div id="uparrow">
      <img src="/img/arrow_up.png" width="100%">
    </div>
  </div>

  <div id="bottomcontent">
    <div class="row">
      <div id="homebottomdivcenter">
        <p id="bottom-slogan">PUSH YOURSELF</p>
        <img id="left-triangle-bottom-div" src="/img/left_triangle.png" width="40%">
      </div>
    </div>
  </div>
</div>