<div id="content" ng-mousemove="clipimage($event)">
    <div id="selectionproject">
      <div ng-if="id==1">
        <div id="selection" style="background-color: #b8153a;" ng-click="changeproject(1)"></div>
      </div>
      <div ng-if="id!=1">
        <div id="selection" ng-click="changeproject(1)"></div>
      </div>
      <div ng-if="id==2">
        <div id="selection" style="background-color: #b8153a;" ng-click="changeproject(2)"></div>
      </div>
      <div ng-if="id!=2">
        <div id="selection" ng-click="changeproject(2)"></div>
      </div>
      <div ng-if="id==3">
        <div id="selection" style="background-color: #b8153a;" ng-click="changeproject(3)"></div>
      </div>
      <div ng-if="id!=3">
        <div id="selection" ng-click="changeproject(3)"></div>
      </div>
      <div ng-if="id==4">
        <div id="selection" style="background-color: #b8153a;" ng-click="changeproject(4)"></div>
      </div>
      <div ng-if="id!=4">
        <div id="selection" ng-click="changeproject(4)"></div>
      </div>
      <div ng-if="id==5">
        <div id="selection" style="background-color: #b8153a;" ng-click="changeproject(5)"></div>
      </div>
      <div ng-if="id!=5">
        <div id="selection" ng-click="changeproject(5)"></div>
      </div>
      <div ng-if="id==6">
        <div id="selection" style="background-color: #b8153a;" ng-click="changeproject(6)"></div>
      </div>
      <div ng-if="id!=6">
        <div id="selection" ng-click="changeproject(6)"></div>
      </div>
      <div ng-if="id==7">
        <div id="selection" style="background-color: #b8153a;" ng-click="changeproject(7)"></div>
      </div>
      <div ng-if="id!=7">
        <div id="selection" ng-click="changeproject(7)"></div>
      </div>
      <div ng-if="id==8">
        <div id="selection" style="background-color: #b8153a;" ng-click="changeproject(8)"></div>
      </div>
      <div ng-if="id!=8">
        <div id="selection" ng-click="changeproject(8)"></div>
      </div>
    </div>
    <img id="image1" ng-show="image1show" ng-src="{{after}}">
    <img id="image2" ng-src="{{before}}">
    <section id="section06" class="demo" style="position: relative;">
        <a href="#"><span></span></a>
    </section>
    <div id="uparrowtop">
      <img src="/img/arrow_up_v.png" width="100%">
    </div>
  <div id="latestworkcontent">
    <div class="row">
      <div id="homedivleft">
        <img src="/img/left_triangle.png" width="40%">
      </div>
      <div id="latestwork">
        <p>OUR LATEST WORK</p>
        <div id="latestprojects">
            <div class="col-md-4" style="padding:0;" ng-repeat="bestproject in bestprojects.data">
              <a style="text-decoration: none;" href="/projects/{{bestproject._id}}">
                <div id="latestprojectsphoto"> 
                  <img id="image" ng-src="{{bestproject.thumbnail}}">
                </div>
                <p>{{ bestproject.title }}</p>
              </a>
            </div>
          </a>
        </div>
      </div>
      <div id="homedivright">
        <img src="/img/right_triangle.png" width="40%">
      </div>
    </div>
  </div>
    <div id="downarrow">
      <img src="/img/arrow_down.png" width="100%" style="vertical-align: baseline;">
    </div>
    <img style="z-index: -5; left: 0px; top: 0px; width:100%;" ng-src="{{mainStill2}}">
    <div id="uparrow">
      <img src="/img/arrow_up_v.png" width="100%">
    </div>

  <div id="bottomcontent">
    <div class="row">
      <div id="homebottomdivcenter">
        <p id="bottom-slogan">PUSH YOURSELF TO NEW IDEAS</p>
        <img id="left-triangle-bottom-div" src="/img/left_triangle.png" width="40%">
      </div>
    </div>
  </div>
</div>
