<div id="content">
  <!--ng-style="{'background':'url({{mainStill1}}) no-repeat center center'}"-->
    <div id="imagePanel">
        <img id="image1" style="position: absolute; z-index: -5; left: 0px; top: 0px; width:100%; visibility: hidden;" src="{{after}}">
        <img id="image2" style="position: relative; z-index: -6; left: 0px; top: 0px; width:100%;" src="{{before}}">
    </div>
    <section id="section06" class="demo" style="position: relative;">
        <a href="#"><span></span></a>
    </section>
    <div id="uparrowtop">
      <img src="/img/arrow_up_v.png" width="100%">
    </div>
  <div id="latestworkcontent">
    <div class="row">
      <div id="homedivleft">
        <img src="/img/left_triangle.png" width="40%">
      </div>
      <div id="latestwork">
        <p>OUR LATEST WORK</p>
        <div id="latestprojects">
            <div class="col-md-4" style="padding:0;" ng-repeat="bestproject in bestprojects.data">
              <a style="text-decoration: none;" ng-click="saveId(bestproject._id)"  href="/projects">
                <div id="latestprojectsphoto"> 
                  <img id="image" ng-src="{{bestproject.thumbnail}}">
                </div>
                <p>{{ bestproject.title }}</p>
              </a>
            </div>
          </a>
        </div>
      </div>
      <div id="homedivright">
        <img src="/img/right_triangle.png" width="40%">
      </div>
    </div>
  </div>
    <div id="downarrow">
      <img src="/img/arrow_down.png" width="100%" style="vertical-align: baseline;">
    </div>
    <img style="z-index: -5; left: 0px; top: 0px; width:100%;" ng-src="{{mainStill2}}">
    <div id="uparrow">
      <img src="/img/arrow_up_v.png" width="100%">
    </div>

  <div id="bottomcontent">
    <div class="row">
      <div id="homebottomdivcenter">
        <p id="bottom-slogan">PUSH YOURSELF TO NEW IDEAS</p>
        <img id="left-triangle-bottom-div" src="/img/left_triangle.png" width="40%">
      </div>
    </div>
  </div>
</div>