<div id="content">
    <div id="homeimg1" ng-class="still">
        <div id="selectcontent">
            <div id="portfolioselection">
                <ul>
                    <li id="port-link" ng-click="selectMenu('Film')" style="cursor: pointer;">FILM</li>
                    <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
                    <li id="port-link" ng-click="selectMenu('Interactive')" style="cursor: pointer;">INTERACTIVE</li>
                    <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
                    <li id="port-link" ng-click="selectMenu('Animation')" style="cursor: pointer;">ANIMATION</li>
                </ul>
            </div>
        </div>
        <div id="mainTitle">
            <p style="font-family:monserratregular; text-transform: uppercase; color: white;">{{ category }} </p>
        </div>
        <section id="section06" class="demo">
            <a href="#"><span></span></a>
        </section>
        <div id="uparrow">
            <img src="/img/arrow_up.png" width="100%">
            <!--<object data="/img/arrow_up.svg" type="image/svg+xml" width="100%"></object>-->
        </div>
    </div>
    <div id="portfoliocontent">
        <div class="row">
            <div id="homedivleft">
                <img src="/img/left_triangle.png" width="40%" />
            </div>
            <div id="latestwork">
                <p style="font-family:monserratregular; text-transform: uppercase; color: #b8153a;">{{ category }}</p>
                <div id="latestprojects">
                    <div class="col-md-4" style="padding:0;" ng-repeat="project in portfolio.data">
                        <a ng-click="saveId(project._id)" href="/projects">
                            <div id="latestprojectsphoto">
                                <img id="image" ng-src="{{project.thumbnail}}">
                            </div>
                            <p>{{ project.title }}</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="homedivright">
                <img src="/img/right_triangle.png" width="40%" />
            </div>
        </div>
    </div>
</div>